.container {
  min-height: calc(100% - 5rem);
  background: #f9f9fb;
  padding: 0 1rem 6rem 1rem;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;

  p:first-child {
    margin-top: 0;
  }
}
