$fontFamily: 'Gamja Flower', 'Nanum Gothic', sans-serif;

.container {
  height: 3rem;
  margin: 0.5rem 0;
  position: relative;
  padding-top: 1rem;
}

.message {
  width: fit-content;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 0.9rem;
  box-shadow: 0rem 0.1rem 0.3rem rgba(164, 166, 176, 0.7);
  padding: 0.9rem 1rem;
  display: flex;
  align-items: center;
  position: absolute;

  span {
    font-family: $fontFamily;
    font-size: 1.2rem;
    color: #363a42;
  }
}

.myMessage {
  background: #5b36ac;
  right: 0;

  span {
    color: #ffffff;
  }
}

.hidden {
  visibility: hidden;
}
